.repl_history
build
tags
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*

vendor/x86
app/cpp/CMakeCache.txt
app/cpp/CMakeFiles
app/cpp/Makefile
app/cpp/cmake_install.cmake
app/cpp/libhello-jni.so
